/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: #f9f9f9;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  display: flex;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  position: relative;
  perspective: 200rem;
  width: 100%;
  height: 54vw;
  max-width: 400px;
  max-height: 251px;
  margin-right: 2rem;
}

.creditcard {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 100%;
  transition: transform 1.25s ease-in-out 0.25s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
  background-color: #8ecae6;
  background-image: linear-gradient(180deg, #8ecae6 25%, #219ebc 100%);
}

.container .creditcard.back {
  transform: rotateY(180deg);
}

.creditcard.front {
  padding: 2rem;
}

.creditcard__bar {
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: 50px;
}

.logos {
  display: flex;
  align-items: center;
}

.chipLogo {
  height: 50px;
}

.providerLogo {
  width: 100px;
  margin-left: auto;
}

.creditcard__label {
  color: whitesmoke;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 2rem;
}

.creditcard__number {
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  font-size: 28px;
  color: whitesmoke;
}

.form {
  padding: 1rem;
  max-width: 440px;
  min-width: 400px;
  flex-grow: 1;
}

.form-controls {
  display: flex;
  flex-direction: column;
}

.form-controls:not(:last-child), .form-fieldset:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-controls label {
  font-size: 14px;
  color: hsl(0deg 0% 50%);
}

.form-controls input {
  padding-left: 12px;
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  border: 1.25px solid hsl(0deg 0% 85%);
  border-radius: 4px;
}

.form-controls input:focus-visible {
  outline-color:black;
  outline-width: 4px;
}

.form-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-fieldset .form-controls:not(:last-child) {
  margin-right: 1rem;
}

.form-fieldset .form-controls {
  margin-bottom: 0;
}

.expirationInput {
  position: relative;
  display: flex;
  max-width: 250px;
  border: 1.25px solid hsl(0deg 0% 85%);
  border-radius: 4px;
}

.expirationInput:focus-within {
  outline: auto;
}

.expirationInput::after {
  content: '/';
  font-size: 2rem;
  color: hsl(0deg 0% 50%);
  position: absolute;
  left: 50%;
}

.expirationInput input {
  border: none;
  padding-left: 0;
  text-align: center;
}

.expirationInput input:focus-visible {
  outline: none;
}
